# zato create cluster config
cluster_name={{CLUSTER_NAME}}
command=create_cluster
broker_host={{KVDB_HOST}}
broker_port={{KVDB_PORT}}
odb_db_name={{ODB_NAME}}
odb_password={{ODB_PASSWORD}}
odb_host={{ODB_HOST}}
odb_port={{ODB_PORT}}
odb_type=postgresql
odb_user={{ODB_USER}}
lb_host=0.0.0.0
lb_port=11223
lb_agent_port=20151
store_config=False
tech_account_name=propdata
tech_account_password=contrasena
