# zato create web admin config
command=create_web_admin
odb_db_name={{ODB_NAME}}
odb_password={{ODB_PASSWORD}}
odb_host={{ODB_HOST}}
odb_port={{ODB_PORT}}
odb_user={{ODB_USER}}
odb_type=postgresql
tech_account_name=propdata
tech_account_password=contrasena
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.web_admin.cert.pem
priv_key_path=/opt/zato/ca/zato.web_admin.key.pem
pub_key_path=/opt/zato/ca/zato.web_admin.key.pub.pem
path=/opt/zato/env/web-admin
