# zato create server config
command=create_server
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.server1.cert.pem
cluster_name={{CLUSTER_NAME}}
kvdb_host={{KVDB_HOST}}
kvdb_port={{KVDB_PORT}}
odb_db_name={{ODB_NAME}}
odb_password={{ODB_PASSWORD}}
odb_host={{ODB_HOST}}
odb_port={{ODB_PORT}}
odb_type=postgresql
odb_user={{ODB_USER}}
jwt_secret={{JWT_SECRET}}
path=/opt/zato/env/server1
postgresql_schema=zato
priv_key_path=/opt/zato/ca/zato.server1.key.pem
pub_key_path=/opt/zato/ca/zato.server1.key.pub.pem
server_name=server1green
store_config=False
kvdb_password=
